/*### Large Screen ###*/
@media only screen and (min-width: 1280px) {
	body {
		background-color:LightCyan;
		font-family: system-ui;
		font-size:1vw;
	}

	table {
		width: 100%;
		font-weight: bold;
		background-color:LightCyan;
		font-family: system-ui;
		font-size:1vw;
	} 
	td {
		border: 0px solid black;
		border-collapse: collapse;
		background-color:LightCyan;
		font-family: system-ui;
		font-size:1vw;
	}
	th {
		background-color:#B0E0E6; /*PowderBlue */
		font-weight: bold;
		font-family: system-ui;
		font-size:1vw;
	}
	a {
		color:#20B2AA; /*LightSeaGreen*/
		font-family: system-ui;
		font-size:1vw;
	}

	/*Kuta*/
	em[title] {
		display:none;
	}
	li {
		list-style-type:none;
		font-size:1vw;
	}

	div.nadpis {
		display:block;
	}
	div.cena {
		float:right;
	}

	div {
		display:inline-block;
	}

	.poradi {
		display:none;
	}
	/*Ledarny*/
	h5 {
		display:inline;
		text-decoration: underline;
		font-family: system-ui;
		font-size:1vw;
	}
}

/*### Small Screen ###*/
@media only screen and (max-width: 1280px) {
	body {
		background-color:LightCyan;
		font-family: system-ui;
		font-size:4vw;
	}

	table {
		width: 100%;
		font-weight: bold;
		background-color:LightCyan;
		font-family: system-ui;
		font-size:4vw;
	} 

	td {
		border: 0px solid black;
		border-collapse: collapse;
		background-color:LightCyan;
		font-family: system-ui;
		font-size:4vw;
	}

	th {
		/* background-color:#B0E0E6; */ /*PowderBlue */
		background-color:lightskyblue; 
		font-weight: bold;
		font-family: system-ui;
		font-size:4vw;
	}

	a {
		font-size:4vw;
		color:#20B2AA; /*LightSeaGreen*/
		font-family: system-ui;
	}

	/*Kuta*/
	em[title] {
		display:none;
	}
	li {
		list-style-type:none;
		font-size:4vw;
	}

	div.nadpis {
		display:block;
	}
	div.cena {
		float:right;
	}

	div {
		display:inline-block;
	}

	.poradi {
		display:none;
	}

	/*Ledarny*/
	h5 {
		display:inline;
		text-decoration: underline;
		font-family: system-ui;
		font-size:2vw;
		/* font-weight:normal; */
	}
}