/*### Large Screen ###*/
@media only screen and (min-width: 1280px) {
	#lunchbar {
		display: flex;
		justify-content: left;
		flex-wrap: nowrap;
		width: 100%; /* Ensures the nav bar stretches across the full width */
	  }
	  
	  #lunchbar ul {
		display: flex;
		padding: 0;
		margin: 1rem; /* Adjusts space based on font size */
		flex-grow: 1; /* Allows each ul to grow and fill the space evenly */
		justify-content: space-between; /* Spaces out the navigation items */
	  }
	  
	  #lunchbar ul li {
		list-style-type: none;
	  }
	  
	  #lunchbar ul li a {
		display: block;
		text-align: left;
		padding: 0.5em 0.5em; /* Uses em for scalable padding */
		text-decoration: none;
		white-space: nowrap;
	  }
						
			
	body {
		background-color:LightCyan;
		font-family: Verdana;
		font-size:1vw;
	}

	table {
		width: 100%;
		font-weight: bold;
		background-color:LightCyan;
		font-family: Verdana;
		font-size:1vw;
	} 
	td {
		border: 0px solid black;
		border-collapse: collapse;
		background-color:LightCyan;
		font-family: Verdana;
		font-size:1vw;
	}
	th {
		background-color:#B0E0E6; /*PowderBlue */
		font-weight: bold;
		font-family: Verdana;
		font-size:1vw;
	}
	a {
		color:#20B2AA; /*LightSeaGreen*/
		font-family: Verdana;
		font-size:1vw;
	}
	
	img {
    		display: none;
	}
	
	/*Liska Bistrouska*/
	.page {
		max-width: 50em;
	  }
	  .page p {
		margin: 0;
	  }
  
	  .page > div {
		margin-top: 0;
		margin-bottom: 0;
	  }
  
	  .page > div > p:first-child {
		margin-bottom: 0;
	  }
  
	  .page > div > div {
		margin-top: 0;
	  }
  
	  .page > div > div > p:first-child {
		margin-bottom: 0;
	  }
  
	  .page > div > div > p {
		margin: 0;
	  }
	  
	/*Kuta*/
	em[title] {
		display:none;
	}
	li {
		list-style-type:none;
		font-size:1vw;
	}

	div.nadpis {
		display:block;
	}
	div.cena {
		float:right;
	}

	div {
		display:inline-block;
	}

	.poradi {
		display:none;
	}
	/*Ledarny*/
	h5 {
		display:inline;
		text-decoration: underline;
		font-family: Verdana;
		font-size:1vw;
	}
	/*Mattes*/
	h2 {
		display:inline;
		text-decoration: underline;
		font-family: Verdana;
		font-size:1vw;
	}
	input {
  		display:none;
	}
	
	/*U Cejpu*/
	table.list.js-bookmark-block td.volume {
		display: none;
	}
	span.allergen {
    	display: none;
	}
	td.name .title, td.name .desc {
		display: inline; /* Makes both elements inline, so they appear on the same line */
		margin-right: 2px; /* Optional: Adds a small space between the title and description */
	}
	table.list.js-bookmark-block {
		/*display:inline;
		text-decoration: underline;*/
		font-family: Verdana;
		font-size:1vw;
		/*width: 100%; */
		/* Add more styles as needed */
	}
	
	/* Jidelna zelený pruh */
	.tribe-events-calendar-list {
		/*background-color: blue;*/
		font-family: Verdana;
		font-size:1vw;
	}	

	#lunchbar {
		text-align: center;
		padding: 10px 0;
	}

	.nav-row {
		margin: 5px 0;
	}

	.nav-row ul {
		margin: 0;
		padding: 0;
		list-style: none;
		display: inline-block;
	}

	.nav-row li {
		display: inline-block;
		margin: 0 10px;
	}

	.nav-row a {
		text-decoration: none;
		padding: 5px 10px;
	}

}

/*### Small Screen ###*/
@media only screen and (max-width: 1280px) {
	body {
		background-color:LightCyan;
		font-family: Verdana;
		font-size:4vw;
	}

	table {
		width: 100%;
		font-weight: bold;
		background-color:LightCyan;
		font-family: Verdana;
		font-size:4vw;
	} 

	td {
		border: 0px solid black;
		border-collapse: collapse;
		background-color:LightCyan;
		font-family: Verdana;
		font-size:4vw;
	}

	th {
		/* background-color:#B0E0E6; */ /*PowderBlue */
		background-color:lightskyblue; 
		font-weight: bold;
		font-family: Verdana;
		font-size:4vw;
	}

	a {
		font-size:4vw;
		color:#20B2AA; /*LightSeaGreen*/
		font-family: Verdana;
	}

	img {
    		display: none;
	}

	/*Liska Bistrouska*/
	.page {
		max-width: 50em;
	  }
	  .page p {
		margin: 0;
	  }
  
	  .page > div {
		margin-top: 0;
		margin-bottom: 0;
	  }
  
	  .page > div > p:first-child {
		margin-bottom: 0;
	  }
  
	  .page > div > div {
		margin-top: 0;
	  }
  
	  .page > div > div > p:first-child {
		margin-bottom: 0;
	  }
  
	  .page > div > div > p {
		margin: 0;
	  }

	  /*Kuta*/
	em[title] {
		display:none;
	}
	li {
		list-style-type:none;
		font-size:4vw;
	}

	div.nadpis {
		display:block;
	}
	div.cena {
		float:right;
	}

	div {
		display:inline-block;
	}

	.poradi {
		display:none;
	}

	/*Ledarny*/
	h5 {
		display:inline;
		text-decoration: underline;
		font-family: Verdana;
		font-size:2vw;
		/* font-weight:normal; */
	}
	/*Mattes*/
	h2 {
		display:inline;
		text-decoration: underline;
		font-family: Verdana;
		font-size:1vw;
	}
	input {
  		display:none;
	}
	
	/*U Cejpu*/
	table.list.js-bookmark-block td.volume {
		display: none;
	}
	span.allergen {
    	display: none;
	}
	td.name .title, td.name .desc {
		display: inline; /* Makes both elements inline, so they appear on the same line */
		margin-right: 5px; /* Optional: Adds a small space between the title and description */
	}
	table.list.js-bookmark-block {
		/*display:inline;
		text-decoration: underline;*/
		font-family: Verdana;
		font-size:1vw;
		/*width: 100%; */
		/* Add more styles as needed */
	}
	
	/* Jidelna zelený pruh */
	.tribe-events-calendar-list {
		/*background-color: blue;*/
		font-family: Verdana;
		font-size:1vw;
	}	

}

.poctiva-menu {
    font-family: Verdana;
    font-size: 1vw;
}

.poctiva-menu h3 {
    color: #20B2AA;
    margin: 15px 0;
    font-weight: bold;
}

.menu-item {
    margin: 10px 0;
}

.item-name {
    font-weight: bold;
}

.item-desc {
    color: #666;
    margin: 2px 0;
}

.item-price {
    color: #20B2AA;
    font-weight: bold;
}
